.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color:blue;
    border-color:red;
}

.button {
    background-color: blue;
    border-color: #8064A2;
}

.lightPhoto {
    width: 130px;
    height: 150px;
}

.lightsControlContener
{
   margin-left: 100px;
   width: 200px;
   background-color: white;
}

.lightContainer
{
    /* margin-top: 15px; */
    background-color: white;
}

p{
    color: black;
    margin-left: 30px;
}