<div class="lightContainer"  fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">

  <div class="lightsControlContener"  *ngFor="let lightBulb of lightSignalRService.lightBulbList">
     
    <p>{{lightBulb.Name}}</p>
  <div *ngIf="lightBulb.LightStatus==false">
    <button (click)="lightUp(true,lightBulb.ID)"><img class="lightPhoto" src="https://i.imgur.com/Bv00NKN.jpg" width="130" height="150"/> </button>
  </div>
  <div *ngIf="lightBulb.LightStatus==true">
    <button (click)="lightUp(false,lightBulb.ID)"><img class="lightPhoto" src="https://i.imgur.com/ALXlAA3.png" width="130" height="150" />  </button>
  </div>
  </div>
</div>
