<div class="example-container" [class.example-is-mobile]="mobileQuery.matches" >
  <app-toolbar></app-toolbar>
  <!-- [style.marginTop.px]="mobileQuery.matches ? 56 : 0" -->
<mat-sidenav-container class="example-sidenav-container"  >
<mat-sidenav #sidenav 
   [mode]="mobileQuery.matches ? 'over' : 'side'"
   [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" >  
       <p>
          <button mat-button  [routerLink]="['/lightStatisticBoard']" >
          <mat-icon>pie_chart</mat-icon>
              Statistic
          </button>
      </p>
      <p>
           <button mat-button [routerLink]="['/lightcontrol']">
              <mat-icon>wb_incandescent</mat-icon>
               Light control
              </button>
      </p>
      <p>
        <button mat-button [routerLink]="['/setings']">
           <mat-icon>settings</mat-icon>
            Settings
           </button>
   </p>
</mat-sidenav>
<mat-sidenav-content>
<router-outlet></router-outlet> 
</mat-sidenav-content>
</mat-sidenav-container>